.pincode-input-text {
  text-align: center;
  border: 1px solid;
  background: red;
  width: 50px !important;
  height: 50px !important;
}

div.pinBox div.registerBox {
  margin: 0px auto;
  width: 100%;
}

div.pinBox div.registerBox p {
  font-size: 12px;
  margin: 0px;
  display: inline;
}

div.pinBox div.registerBox button {
  margin-top: -3px;
  padding: 0px 5px;
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  div.pinBox h1 {
    font-size: 20px;
  }
  div.pinBox div.registerBox {
    margin: -7px auto;
    width: 100%;
  }
  div.pinBox div.registerBox p {
    font-size: 8px;
  }
  div.pinBox div.registerBox button {
    margin-top: 1px;
    font-size: 8px;
    padding: 0px 3px;
  }
  div.pinBox div.registerBox .pincode-input-text {
    text-align: center;
    border: 1px solid;
    background: red;
    width: 30px !important;
    height: 30px !important;
  }
}
