div.registerFormBox {
  margin: 0px auto;
  width: 30%;
  height: 100vh;
  text-align: center;
  padding-top: 40vh;
  box-sizing: border-box;
}

@media only screen and (max-width: 750px) {
  div.registerFormBox {
    width: 50%;
  }
  div.registerFormBox .pincode-input-text {
    text-align: center;
    border: 1px solid;
    background: red;
    width: 30px !important;
    height: 30px !important;
  }
}
